---

- name: add docker apt-key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: add docker repo
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: install docker
  apt:
    name: "{{ docker_packages }}"
    state: present
    update_cache: yes

- name: add go repository
  apt_repository:
    repo: ppa:longsleep/golang-backports

- name: install go
  apt:
    name: golang-go
    update_cache: yes
