version: 2.1

base_image: &base_image
  hashicorp/terraform:0.12.4

jobs:
  init:
    docker:
      - image: *base_image
    steps:
      - checkout
      - run: terraform init
  plan:
    docker:
      - image: *base_image
    steps:
      - checkout
      - run: terraform plan
  apply:
    docker:
      - image: *base_image
    steps:
      - checkout
      - run: terraform apply

workflows:
  version: 2.1
  infrastructure_deployment:
    jobs:
      - init:
          context: digitalocean
      - plan:
          context: digitalocean
      - apply:
          context: digitalocean
