version: 2.1

base_image: &base_image
  hashicorp/terraform:0.12.4

jobs:
  init:
    docker:
      - image: *base_image
    steps:
      - checkout
      - run:
        - terraform init
        - terraform plan
        - terraform apply

workflows:
  version: 2.1
  infrastructure_deployment:
    jobs:
      - init:
          context: digitalocean
