---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cicd
subjects:
  - kind: ServiceAccount
    name: cicd
    apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: cicd
  apiGroup: rbac.authorization.k8s.io
